@media (min-width: 500px) {
    .padding {
        padding-top: 10px;
        padding-left: 400px;
        padding-bottom: 120px;
        padding-right: 300px;
        margin: 0;
    }
}

.pad {
    padding-bottom: 20px;
}

.len {
    width: 300px;
}